<!DOCTYPE html>
<html>

<head>
  <title>SOA Application</title>
  <meta charset="UTF-8">
</head>
<body>
<section class="py-5 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MailBox</h1>
    <p class="lead text-muted">
      RESTFUL MAILBOX APPLICATION<br/>
      https://github.com/MarineVandamme/spring-angularIO-example
    </p>
  </div>
</section>
<section class="container col-sm-6" *ngIf="!isAuthent">
  <form [formGroup]="authForm" (ngSubmit)="checkPassword()">
    <div class="form-group">
      <label for="user">Email adress</label>
      <input type="email" class="form-control" id="user" placeholder="Enter email" [(ngModel)]="authent.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="authent.password" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
<router-outlet *ngIf="isAuthent"></router-outlet>
</body>
